.button {

  --button-color-active: var(--button-color, var(--button-color-default));
  --button-text-color-active: var(--button-text-color, var(--button-text-color-default));

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: -0.01em;
  font-weight: 600;
  border-radius: 6px;
  white-space: nowrap;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  background-color: var(--button-color-active);
  border: 2px solid var(--button-color-active);
  color: var(--button-text-color, var(--button-text-color-default));
  cursor: pointer;

  &:hover {
    background-color: color-mix(in srgb, var(--button-color-active) 80%, transparent);
    border-color: color-mix(in srgb, var(--button-color-active) 80%, transparent);
  }

  &.outlined {
    background-color: transparent;
    border: 2px solid var(--button-color-active);
    color: var(--button-color-active);

    &:hover {
      background-color: var(--button-color-active);
      color: var(--button-text-color-active, white);
    }
  }

  &.small {
    padding: 0.5em 1rem;
    font-size: 0.875rem;
  }

  &.large {
    padding: 1rem 2rem;
    font-size: 1.25rem;
  }

}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;

  @media (max-width: 768px) {
    justify-content: center;
  }

  .button {
    min-width: 120px;

    @media (max-width: 480px) {
      flex: 1;
      min-width: auto;
    }
  }
}
