.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: -0.01em;
    font-weight: 600;
    border-radius: 6px;
    white-space: nowrap;
    padding: 0.75em 1.5em;
    font-size: 1rem;
    background-color: var(--button-color, #3b82f6);
    border: 2px solid var(--button-color, #3b82f6);
    color: var(--button-text-color, white);
    cursor: pointer;
    margin-right: 1rem;
    margin-bottom: 1rem;

    &:hover {
        background-color: color-mix(in srgb, var(--button-color, #3b82f6) 80%, transparent);
        border-color: color-mix(in srgb, var(--button-color, #3b82f6) 80%, transparent);
    }

    &.white {
        color: #000;
        mix-blend-mode: screen;
        border-color: #fff;
        background: #fff;

        &:hover {
            color: #fff;
            border-color: #fff;
            mix-blend-mode: normal;
            background-color: transparent;
        }
    }

    &.outlined {
        background-color: transparent;
        border: 2px solid var(--button-color, #3b82f6);
        color: var(--button-color, #3b82f6);

        &:hover {
            background-color: var(--button-color, #3b82f6);
            color: var(--button-text-color, white);
        }

        &.white {
            color: #fff;
            border-color: #fff;

            &:hover {
                background-color: #fff;
                color: #000;
                mix-blend-mode: screen;
            }
        }
    }

    &.small {
        padding: 0.5em 1rem;
        font-size: 0.875rem;
    }

    &.large {
        padding: 1rem 2rem;
        font-size: 1.25rem;
    }

}




.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;

    @media (max-width: 768px) {
        justify-content: center;
    }

    .button {
        min-width: 120px;

        @media (max-width: 480px) {
            flex: 1;
            min-width: auto;
        }
    }
}
