/* Typography
 *
 * Do NOT put colors in here.
 * Elements are color-agnostic.
 * Their color depends on their context.
 */

html {
    font-family: var(--font-sans), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.3;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

p {
    line-height: 1.5;
}

li {
    line-height: 1.5;
}

code {
    font-family: var(--font-mono), monospace;
    font-size: 0.9em;
}

pre {
    font-family: var(--font-mono), monospace;
    font-size: 0.9rem;
    line-height: 1.4;
}

pre code {
    font-size: inherit;
    color: inherit;
}

strong {
    font-weight: 600;
}

blockquote {
    font-style: italic;
}

blockquote p:last-child {
    margin-bottom: 0;
}

thead {
    font-weight: 600;
}

th {
    text-align: left;
    font-size: 0.9rem;
}

td {
    font-size: 0.9rem;
    vertical-align: top;
}

td:first-child {
    font-weight: 600;
}
