.card {

  padding: 2rem;
  background: var(--bg-color-default);
  border-radius: 8px;
  transition: 0.2s ease all;
  border: 2px solid var(--text-color-default);
  cursor: pointer;

  &:hover {
    transform: translateY(-1rem);
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }

  &.compact {
    padding: 1.25rem;
  }

  &.highlighted {
    background: var(--card-bg-highlighted);
    color: var(--card-fg-highlighted);
    border-color: var(--card-fg-highlighted);
  }

}
