@import "../styles/themes.css";
@import "../styles/typography.css";
@import "../styles/layout.css";

* {
  border: initial;
  outline: initial;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
