.section {

  padding: 2rem 0;

  .content {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--padding-x);

    // No default colours needed - they inherit

  }

  &.strong {
    background: var(--section-bg-strong);
    color: var(--section-fg-strong);
  }

  &.subtle {
    background: var(--section-bg-subtle);
    color: var(--section-fg-subtle);
  }

}